* {
  margin: 0;
}
body {
  background: #02010a;
  padding: 0;
  margin: 0;
  font-family: 'Dancing Script', cursive;
}
header {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 25px;
  float: left;
  text-shadow: 2px 2px 2px #02010a;
  -webkit-text-shadow: 2px 2px #02010a;
}
nav {
  float: right;
  padding: 15px 20px 0 0;
}
ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 10px;
}
a {
    color: #fff;
}
section {
  border: 1px;
}
footer {
  background-color: #C6d5c5;
  border-radius: 0 0 9px 9px;
  display: flex;
}
img {
  box-shadow: 2px 2px #02010a;
  -webkit-box-shadow: 2px 2px #02010a;
}
.imagenSecundaria {
  display: flex;
}
#imagenCentral {
  background-color: #82c3a6;
  text-align: center;
  width: 100%
}
#imagenCentral img{
  max-width: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#imagenSecundariaIzq {
  background-color: #d5c75f ;
  text-align: center;
  width: 50%;
}
#imagenSecundariaIzq img{
  max-width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#imagenSecundariaIzq img:hover {
  transform: rotate(10deg);
  box-shadow: 2px 2px #82c3a6;
  -webkit-box-shadow: 2px 2px #82c3a6;
}
#imagenSecundariaDer {
  background-color: #d5c75f;
  text-align: center;
  width: 50%;
}
#imagenSecundariaDer img{
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#imagenSecundariaDer img:hover {
  transform: translate(20px, -5px);
  box-shadow: 2px 2px #82c3a6;
  -webkit-box-shadow: 2px 2px #82c3a6;
}
@-webkit-keyframes slidein{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}
.contenido {
  max-width: 900px;
  margin: 0 auto;
  animation: slidein 2s;
}
.cabecera {
  background: #5b7989;
  border-radius: 11px 11px 0 0;
  height: 50px;
  color: #fff;
}
.menuActual {
  text-decoration: none;
}
.piePagina {
  width: 25%;
  padding: 20px 10px;
}
.piePagina span {
  font-size: 24px;
  font-weight: bold;
}
.piePagina ul {
  list-style: none;
  display: block;
  padding: 0;
}
